/StorytimeDevKit/bin
/StorytimeDevKit/obj
/StoryTimeFramework/bin
/StoryTimeFramework/obj
/StoryTimeCore/bin
/StoryTimeCore/obj
/StoryTimeCoreTests/bin
/StoryTimeCoreTests/obj
/StoryTimeFrameworkTests/bin
/StoryTimeFrameworkTests/obj
/StoryTime/StoryTime/obj
/StoryTime/StoryTime/bin
/StoryTime/StoryTimeContent/obj
/StoryTime/StoryTimeContent/bin
/StoryTime.sln
/StoryTime.vsmdi
/TraceAndTestImpact.testsettings
/Local.testsettings
/StoryTime.suo
/Physics
/mathnet-numerics-master
/Farseer Physics Engine 3.5 Samples/Farseer Physics Engine 3.5/obj
/Farseer Physics Engine 3.5 Samples/Farseer Physics Engine 3.5/bin
/Farseer Physics Engine 3.5 Samples/Farseer Physics Samples 3.5/bin
/Farseer Physics Engine 3.5 Samples/Farseer Physics Samples 3.5/obj
/Farseer Physics Engine 3.5 Samples/Farseer Physics DebugView 3.5/bin
/Farseer Physics Engine 3.5 Samples/Farseer Physics DebugView 3.5/obj
/StoryTimeSceneGraph

/XNAControl/bin/Debug/Microsoft.Xna.Framework.Game.dll
/XNAControl/bin/Debug/Microsoft.Xna.Framework.Game.xml
/XNAControl/bin/Debug/Microsoft.Xna.Framework.Graphics.dll
/XNAControl/bin/Debug/Microsoft.Xna.Framework.Graphics.xml
/XNAControl/bin/Debug/Microsoft.Xna.Framework.dll
/XNAControl/bin/Debug/Microsoft.Xna.Framework.xml
/XNAControl/bin/Debug/XNAControl.dll
/XNAControl/bin/Debug/XNAControl.pdb
/XNAControl/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/XNAControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XNAControl/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/XNAControl/obj/Debug/XNAControl.Properties.Resources.resources
/XNAControl/obj/Debug/XNAControl.baml
/XNAControl/obj/Debug/XNAControl.csproj.FileListAbsolute.txt
/XNAControl/obj/Debug/XNAControl.csproj.GenerateResource.Cache
/XNAControl/obj/Debug/XNAControl.csprojResolveAssemblyReference.cache
/XNAControl/obj/Debug/XNAControl.dll
/XNAControl/obj/Debug/XNAControl.g.cs
/XNAControl/obj/Debug/XNAControl.g.i.cs
/XNAControl/obj/Debug/XNAControl.g.resources
/XNAControl/obj/Debug/XNAControl.pdb
/XNAControl/obj/Debug/XNAControl_MarkupCompile.cache
/XNAControl/obj/Debug/XNAControl_MarkupCompile.i.cache

/StoryTimeDevKit/StoryTimeDevKit.csproj.user

/TestResults

/StoryTime/StoryTime/*.cachefile
